* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #121212; /* Fondo Principal (Oscuro) */
    --secondary-color: #f2f2f2; /* Fondo Secundario */
    --text-color: #101010; /* Texto Principal */
    --secondary-text-color: #B0B0B0; /* Texto Secundario */
    --font: 'Roboto', sans-serif; /* Fuente */
}

html {
    font-family: var(--font);
    color: var(--text-color);
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}



body {
    background: linear-gradient(-60deg, var(--main-color), var(--secondary-color));
}

header {
    padding: 20px;
}

h1 {
    color: #1a0822;
    text-align: center;
}

h2 {
    color: var(--secondary-text-color);
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.consulta, .formulario {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.label {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-areas: "input";
}

.input {
    grid-area: input;
    width: 90%;
    font: inherit;
    border-radius: 10px;
    border: 1px solid gray;
    padding: .7rem 1.5rem;
}

.label_name {
    grid-area: input;
    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0 .5rem;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform .2s;
    transform-origin: center left;
}

.input:where(:focus, :not(:placeholder-shown)) + .label_name {
    transform: translateY(-50%) scale(.7);
}

#searchBtn, #sumitbtn {
    display: block;
    margin: 10px auto;
    font-size: large;
    color: var(--main-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: solid black;
    width: 12rem;
    height: 3rem;
}

#searchBtn:hover, #sumitbtn:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
    cursor: pointer;
}