body {
    background: linear-gradient(-60deg, black, #A04DEB);
}

h1 {
    color: #1a0822;
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.consulta, .formulario {
    background: linear-gradient(-120deg, #A04DEB, #000000);
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.label {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-areas: "input";
}

.input {
    grid-area: input;
    width: 90%;
    font: inherit;
    border-radius: 10px;
    border: 1px solid gray;
    padding: .7rem 1.5rem;
}

.label_name {
    grid-area: input;
    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0 .5rem;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform .2s;
    transform-origin: center left;
}

.input:where(:focus, :not(:placeholder-shown)) + .label_name {
    transform: translateY(-50%) scale(.7);
}

#searchBtn, #sumitbtn {
    display: block;
    margin: 10px auto;
    font-size: large;
    color: #A04DEB;
    border-radius: 5px;
    border: solid black;
    width: 12rem;
    height: 3rem;
}

#searchBtn {
    background-color: #fff;
}

#sumitbtn {
    background-color: #fff;
}


/*
    #D44DEB
    #EB4D58
    #EB4DB6
    #A04DEB
    #EB664D
    #EB9CD0
*/